/* PHẦN CỦA DƯƠNG */
.banner {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 30px auto;
}

.banner img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
}

/* Headline */
.headline {
  text-align: center;
  margin: 20px auto;
}

.headline .section-title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  display: inline-block;
}

.headline .header-underline {
  width: 200px;
  height: 3px;
  background-color: #f37319;
  margin: 5px auto 0;
}

/* Section  */
.item_menu {
  position: absolute;
  padding-left: 0;
  top: 100%;
  right: 0;
  background-color: white;
  border-radius: 2px;
  width: 160px;
  list-style: none;
  z-index: 1;
  display: none;
}
.item:hover .item_menu {
  display: block;
}
.heder_item_user a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.heder_item_user a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.item_menu::before {
  content: "";
  border-width: 20px 27px;
  border-color: transparent transparent white transparent;
  position: absolute;
  right: 4px;
  top: -29px;
}
.heder_item_user a {
  text-decoration: none;
  color: #333;
  font-size: 1.4rem;
  padding: 16px 0;
}
/* end section */

/* Products */
.products {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.products-item {
  text-align: center;
  border-radius: 8px;
  width: calc(25% - 20px);
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-direction: column;
}

.products-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.product-thumb img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-thumb:hover img {
  transform: scale(1.1);
}

.product-info {
  padding: 10px;
  flex-grow: 1;
}

.product-name {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
}

.product-price {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-price .price {
  font-size: 19px;
  font-weight: bold;
  color: red;
}
.currency {
  font-size: 18px;
  vertical-align: top;
}

input[type="submit"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f37319;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #f37319;
}
/* ============================= */
