body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

.container {
  background-color: #ffff;
  width: 450px;
  padding: 1.5rem;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 1, 0.5);
}

.container h2 {
  font: size 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1.3rem;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}

.input-container {
  display: flex;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  flex-direction: column;
}

.icon {
  padding: 10px;
  background: #f37319;
  color: white;
  width: 50px;
  text-align: center;
}

.input-row {
  display: flex;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid black;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

input[type="submit"] {
  background-color: #f37319;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

input[type="submit"]:hover {
  opacity: 1;
}

.social {
  text-align: center;
}
.social i {
  color: #f37319;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
  margin: 0 15px;
}
.social i:hover {
  font-size: 1.6rem;
  border: 2px solid #f37319;
  transition: 1s;
}

.links {
  display: flex;
  justify-content: center;
  padding: 0 4rem;
  margin-top: 0.3rem;
  font-weight: bold;
}

.links a {
  color: #f37319;
  text-decoration: none;
  margin: 16px 0px 0px 2px;
  font-size: 1rem;
  font-weight: bold;
}
.links a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  background-color: #ffff;
  width: 450px;
  padding: 1.5rem;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 1, 0.5);
}
.container h2 {
  font: size 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1.3rem;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  flex-direction: column;
}
.icon {
  padding: 10px;
  background: #f37319;
  color: white;
  width: 50px;
  text-align: center;
}
.input-row {
  display: flex;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
}
.input-field:focus {
  border: 2px solid black;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}
input[type="submit"] {
  background-color: #f37319;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
input[type="submit"]:hover {
  opacity: 1;
}
.links {
  display: flex;
  justify-content: center;
  padding: 0 4rem;
  margin-top: 0.3rem;
  font-weight: bold;
}
.links a {
  color: #f37319;
  text-decoration: none;
  margin: 16px 0px 0px 2px;
  font-size: 1rem;
  font-weight: bold;
}
.links a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
}
