.main {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: start;
}
h1 {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 50px;
  background: linear-gradient(to left, pink, #f0873cfa, aqua);
  -webkit-background-clip: text;
  color: transparent;
}
h3 {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
p {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  position: relative;
}
.btn {
  background: #db7fd0;
  background-image: -webkit-linear-gradient(top, #f0873cfa, #2980b9);
  background-image: -moz-linear-gradient(top, #f0873cfa, #2980b9);
  background-image: -ms-linear-gradient(top, #f0873cfa, #2980b9);
  background-image: -o-linear-gradient(top, #f0873cfa, #2980b9);
  background-image: linear-gradient(to bottom, #f0873cfa, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #fcfcfc;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #4aa0d9);
  background-image: -moz-linear-gradient(top, #3cb0fd, #4aa0d9);
  background-image: -ms-linear-gradient(top, #3cb0fd, #4aa0d9);
  background-image: -o-linear-gradient(top, #3cb0fd, #4aa0d9);
  background-image: linear-gradient(to bottom, #3cb0fd, #4aa0d9);
  text-decoration: none;
}
