body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
.classQuanLy {
  display: grid;
  grid-template-columns: 13% 87%;
  grid-template-rows: 5% 95%;
  height: 100vh;
  width: 100vw;
}
.fa-bars {
  position: fixed;
}
.menu {
  min-height: 100vh;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  background-color: #f37319;
  color: white;
  padding: 0;
  z-index: 1;
  position: relative;
  transition: transform 0.8s ease;
  display: block;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
menu::-webkit-scrollbar {
  display: none;
}
.menu i {
  visibility: hidden;
  position: absolute;
  right: 0px;
  font-size: x-large;
}
.out1 i:hover {
  color: yellow;
}
.innermenu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
.innermenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.menu-1 {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 7px 0;
  padding: 20px;
  font-size: large;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu-1:hover {
  color: black;
  background-color: rgba(192, 200, 248, 0.973);
}
.chucnang {
  color: black;
  text-decoration: none;
}
.menu-1 i {
  margin-right: 10px;
  font-size: 18px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25%;
  border-bottom: 1px solid white;
}

.logo img {
  max-width: 25%;
  min-height: 25%;
  border-radius: 50%;
  border: solid 2px;
  cursor: pointer;
}
.logo div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo h4,
.logo p {
  margin: 0;
  text-align: center;
}
.out {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  background-color: #f37319;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: relative;
}
.out1 {
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;

  margin-right: 24px;
}
.out1 i {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.content {
  grid-column: 2 / 3;
  background-color: rgba(128, 128, 128, 0.093);
  padding: 20px;
  overflow-y: hidden;
  position: relative;
}
.time {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 50px;
  margin-bottom: 50px;
}
.TieuDe {
  margin-top: 10px;
  width: 100%;
  height: 6%;
  background-color: white;
  border-left: 10px solid yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.list {
  height: 100%;
}
.search {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.search form {
  padding: 10px 10px;
  margin-right: 10px;
}
.search form input {
  font-size: large;
}

.Table {
  border: 1px solid black;
  height: 70%;
  width: 100%;
  overflow: scroll;
}
/* bat dau */
.Table th,
.Table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.Table th {
  background-color: #f0873cfa;
  color: white;
  font-weight: bold;
}
.ThongKe tr:hover {
  background-color: #f1f1f1;
}

.ThongKe tr i:hover {
  cursor: pointer;
  color: blue;
}
.Table table {
  width: 100%;
  border-collapse: collapse;
}
/* kt */
td i {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}
.foot {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  text-align: center;
  list-style: none;
}
.foot button {
  height: 60px;
  width: 60px;
  background-color: #6c6666b9;
  padding: 20px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot button:active {
  background-color: #f37319;
}
.nenan {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.707);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5 0.5;
}
.remove {
  height: 40%;
  width: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.remove i {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(252, 73, 73);
  padding: 5px;
  cursor: pointer;
}
.NoOrYes {
  position: absolute;
  bottom: 0;
}
.NoOrYes button {
  margin: 20px;
  height: 50px;
  border-radius: 10px;
}
.fa-lock {
  color: rgb(114, 5, 5);
  background-color: rgb(242, 108, 108);
}
.fa-lock:hover {
  background-color: red;
}
.fa-pen {
  color: rgb(109, 109, 2);
  background-color: rgb(245, 245, 153);
}
.fa-pen:hover {
  color: black;
  background-color: rgb(240, 240, 22);
}

@media (max-width: 800px) {
  .TieuDe {
    font-size: x-small;
  }
  .content {
    grid-column: 1 / 3;
    font-size: xx-small;
  }
  .foot button {
    height: 30px;
    width: 30px;
    font-size: x-small;
  }
  .menu {
    display: none;
    width: 70vw;
  }
  .menu i {
    visibility: unset;
  }
  .foot {
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-size: small;
  }
  .remove {
    width: 60%;
    font-size: x-small;
  }
  .search form {
    font-size: x-small;
  }
  .out1 i {
    font-size: small;
  }
}
@media (max-height: 750px) and (max-width: 800px) {
  .remove {
    height: 45%;
  }
  .logo {
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: none;
  }
}
@media (max-width: 500px) {
  .out {
    width: 100vw;
  }
}
