.form_date {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 50px;
  width: 100vw;
}
.date_con {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e9e9;
  border: 1px solid;
}
.date_con form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 50%;
}
.in {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 20%;
}
.in p {
  white-space: nowrap;
}
label {
  width: auto;
  text-align: right;
}
input[type="date"] {
  width: 150px;
  height: 35px;
  padding: 5px;
}
.btn {
  padding: 10px 30px;
  font-size: larger;
  cursor: pointer;
  border: 1px solid #ccc;
}
.btn:hover {
  background-color: orange;
  color: white;
}
@media (max-width: 1052px) {
  .in {
    font-size: x-small;
  }
  .btn {
    font-size: small;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: x-small;
  }
  .date_con {
    width: 100vw;
  }
  input[type="date"] {
    font-size: xx-small;
  }
  .in p {
    /* Cho tiêu đề <p> chiếm 100% hàng đầu tiên */
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  label {
    text-align: right; /* Trả lại căn lề phải */
  }

  input[type="date"] {
    /* Trả lại chiều rộng 150px cố định */
    width: 150px;
  }

  .btn {
    /* Cho nút co lại, không chiếm 100% nữa */
    width: auto;
    margin-top: 10px;
  }
}
@media (max-width: 650px) {
  h1 {
    font-size: xx-small;
  }
  .in {
    font-size: x-small;
  }
  .btn {
    font-size: small;
  }
  input[type="date"] {
    width: 50px;
    height: 10px;
    padding: 1px;
  }
  .date_con form {
    display: flex;
    justify-content: start;
  }
}
