.ThongKe {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.bang {
  text-align: center;
  padding: 15px;
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  height: 50px;
  background: #f7f7f7;
  margin-bottom: 20px;
}
.xephang {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ThongKe table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: hidden;
}

.ThongKe th,
.ThongKe td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.ThongKe th {
  background-color: #f0873cfa;
  color: white;
  font-weight: bold;
}

.ThongKe tr:hover {
  background-color: #f1f1f1;
}

.ThongKe tr i:hover {
  cursor: pointer;
  color: blue;
}

td a {
  color: black;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  white-space: nowrap;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s;
}
.back {
  display: flex;
  justify-content: center;
}
.back button {
  margin-top: 5px;
  padding: 5px;
}
.back button:hover {
  background-color: orange;
}
.thongbao {
  display: flex;
  justify-content: center;
}
@media (max-width: 1256px) {
  .bang {
    font-size: larger;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: small;
  }
}
@media (max-width: 800px) {
  .ThongKe {
    align-items: center;
  }
  .bang {
    width: 100vw;
  }
  table {
    width: 100vw;
  }
}
